# NARA: Catalog_API@nara.gov
NARA_API_KEY=your_key

# DPLA: https://pro.dp.la/developers/policies#get-a-key
DPLA_API_KEY=your_key

# Europeana: https://pro.europeana.eu/pages/get-api
EUROPEANA_API_KEY=your_key

# TNA, NAA, JACAR: No API key required
